#Key_Specs_div div {
    width: 500px;
    height: 70px;
    background-color: #F8F8F8;
    border-bottom: 1px solid #cccccc;
    margin-right: 50px;
    padding: 0px 5px;;
    float: left;

}

/* #Key_Specs_div div p{
 float: right;
} */
.P1 {
    float: left;
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.P2 {
    float: right;
    font-size: 14px;
    margin-top: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}